@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
    font-family: 'Oswald', sans-serif;
}

:root {
    --primary-white: #fff;
    --primary-dark: rgba(255,255,255,0);
    --primary-darkblue: darkblue;
    --primary-lightblue: lightblue;
}

nav a.nav-link {
    letter-spacing: 0.0375rem;
    cursor: pointer;
}

nav ul li {
    font-weight: 800;
}

.navbar-nav > li > a {
    margin-right: 0.75em;
    margin-left: 0.75em;
    border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{
    border-top: 0.1875rem solid var(--primary-darkblue) !important
}

.navbar-nav > li > a:hover {
    border-top: 0.1875rem solid var(--primary-lightblue) !important
}

.header-wraper{
    position: relative;
    background: url(background-image.jpeg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
}

.main-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.main-info h1{
    color: rgb(255,255,255);
}